<div>
    <img src="./assets/logo-only.png" alt="Hello" class="img">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-icon mat-card-avatar>people</mat-icon>
      <mat-card-title>Registered Learners</mat-card-title>
      <mat-card-subtitle>Select the parameters to filter the learners</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content> 
      <div class="row">
        <div class="col">
          <div>
            <mat-form-field appearance="fill" class="m-2">
              <mat-label>Learners according</mat-label>
              <mat-select [(ngModel)]="selectedoption" (selectionChange)="onSelect($event)">
                <mat-option *ngFor="let item of dropdownList"  [value]="item.value">
                  {{item.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
         </div>
        <div class="col">
         <mat-form-field>
             <mat-label>Select </mat-label>
             <mat-select [(ngModel)]="selectedcentre">
                 <mat-option>None</mat-option>
                 <mat-option *ngFor="let option of options"  [value]="option">
                     {{option}}
                 </mat-option>
             </mat-select>
         </mat-form-field>    
        </div>
      </div>  
    </mat-card-content>

    <mat-card-actions>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button mat-stroked-button>Save</button>
        <button mat-raised-button  color="warn" routerLink="/dashboard" >Cancel</button>   
      </div>
    </mat-card-actions>
  </mat-card>
</div>
  