<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">My courses</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Course
                                  </th>
                                  <th>
                                      Grade
                                  </th>
                                  <th>
                                      Tutor comments
                                  </th>
                                  <th>
                                      Deregister Course
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          Grade 8 Accounting
                                      </td>
                                      <td>
                                         64%
                                      </td>
                                      <td>
                                          You need to spend more time on balance sheets
                                      </td>
                                      <td>
                                        <button mat-icon-button>
                                          <mat-icon >delete</mat-icon>
                                        </button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0">Learners</h4>
                      <p class="card-category"> A list of all the registered learners at Inspire Academy</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      Learner Name
                                  </th>
                                  <th>
                                      Course
                                  </th>
                                  <th>
                                      Centre
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          Ryan Gauld
                                      </td>
                                      <td>
                                          Grade 9 Physics
                                      </td>
                                      <td>
                                          Soweto
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">Subjects</h4>
                        <p class="card-category"> A list of subject offered by Inspire Academy and their related courses</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        Learner Name
                                    </th>
                                    <th>
                                        Course
                                    </th>
                                    <th>
                                        Centre
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Ryan Gauld
                                        </td>
                                        <td>
                                            Grade 9 Physics
                                        </td>
                                        <td>
                                            Soweto
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
